<a href="https://colab.research.google.com/github/gokul-prathap-git/DSAIRPFeb25/blob/session1/session7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# check if the number is positive,negative or zero
num = int(input("Enter a number:"))
if num>0:
  print("The number is positive")
elif num<0:
  print("The number is negative")
else:
  print("The number is zero")

Enter a number:0
The number is zero

In [ ]:
# Basic leap year check
year = int(input("Enter a year:"))
if (year%4==0 and year%100!=0) or (year%400==0):
  print(f"{year} is a leap year")
else:
  print(f"{year} is not a leap year")

Enter a year:2000
2000 is a leap year

In [ ]:
# check if number is even or odd
num = int(input("enter a number:"))
if num%2 ==0:
    print("even")
else:
    print("odd")

enter a number:9
odd

In [ ]:
# print numbers from 1 to N using loop
n = int(input("Enter a number:"))
for i in range (1,n+1):
  print(i)

Enter a number:25
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [ ]:
# Sum of first N natural numbers
n = int(input("Enter a number:"))
sum = 0
for i in range (1,n+1):
  sum+=i
  print(f"The sum of first {n} natural num,bers in {sum}")

Enter a number:25
The sum of first 25 natural num,bers in 1
The sum of first 25 natural num,bers in 3
The sum of first 25 natural num,bers in 6
The sum of first 25 natural num,bers in 10
The sum of first 25 natural num,bers in 15
The sum of first 25 natural num,bers in 21
The sum of first 25 natural num,bers in 28
The sum of first 25 natural num,bers in 36
The sum of first 25 natural num,bers in 45
The sum of first 25 natural num,bers in 55
The sum of first 25 natural num,bers in 66
The sum of first 25 natural num,bers in 78
The sum of first 25 natural num,bers in 91
The sum of first 25 natural num,bers in 105
The sum of first 25 natural num,bers in 120
The sum of first 25 natural num,bers in 136
The sum of first 25 natural num,bers in 153
The sum of first 25 natural num,bers in 171
The sum of first 25 natural num,bers in 190
The sum of first 25 natural num,bers in 210
The sum of first 25 natural num,bers in 231
The sum of first 25 natural num,bers in 253
The sum of first 25 natural num,bers in 276
The sum of first 25 natural num,bers in 300
The sum of first 25 natural num,bers in 325

In [ ]:
# Multiplication table
n = int(input("enter the number:"))
for i  in range(1,11):
  print(f"{n}*{i}={n*i}")

enter the number:9
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90

In [ ]:
# Factorial calculation
n = int(input("Enter the number:"))
fact = 1
for i in range(1,n+1):
  fact *=i
  print(f"The factorial of {n} is {fact}")

Enter the number:7
The factorial of 7 is 1
The factorial of 7 is 2
The factorial of 7 is 6
The factorial of 7 is 24
The factorial of 7 is 120
The factorial of 7 is 720
The factorial of 7 is 5040

In [ ]:
# Reversing a number
n = int(input("Enter the number:"))
rev = 0
while n>0:
  rem = n%10
  rev = rev*10+rem
  n//= 10
  print(f"The reversed number is {rev}")

Enter the number:7528
The reversed number is 8
The reversed number is 82
The reversed number is 825
The reversed number is 8257

In [ ]:
# Count digits in a number
n = int(input("Enter the number:"))
count = 0
while n>0:
  n//=10
  count+=1
  print(f"The number of digits in the number is {count}")

Enter the number:123456789
The number of digits in the number is 1
The number of digits in the number is 2
The number of digits in the number is 3
The number of digits in the number is 4
The number of digits in the number is 5
The number of digits in the number is 6
The number of digits in the number is 7
The number of digits in the number is 8
The number of digits in the number is 9

**Nested loops**

In [ ]:
# Right-angled triangle pattern
for i in range(1,6):
  for j in range(1,i+1):
    print("*",end="")
  print()

*
**
***
****
*****

In [ ]:
# Number pyramid pattern
for i in range(1, 6):
    for j in range(1, i + 1,):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5