In [1]:
l1 = [1,2,5,6,8,9]
l2 = [3,5,8,9,0,6]

In [2]:
l1+l2

[1, 2, 5, 6, 8, 9, 3, 5, 8, 9, 0, 6]

In [3]:
sum_l = []
for i,j in zip(l1,l2):
  sum_l.append(i+j)
print(sum_l)

[4, 7, 13, 15, 8, 15]

In [4]:
l2 = []
for i in l1:
  l2.append(i+10)
l2

[11, 12, 15, 16, 18, 19]

In [5]:
import numpy as np

In [6]:
my_list= [1,2,3]
np.array(my_list)

array([1, 2, 3])

In [7]:
l1 = [1,2,5,6,8,9]
l2 = [3,5,8,9,0,6]
arr1 = np.array(l1)
arr2 = np.array(l2)

In [8]:
type(arr1)

numpy.ndarray

In [9]:
arr1+arr2

array([ 4,  7, 13, 15,  8, 15])

In [10]:
arr1+10

array([11, 12, 15, 16, 18, 19])

In [11]:
arr1.ndim #dimension of an array

1

In [12]:
arr1.shape

(6,)

In [13]:
arr1.dtype

dtype('int64')

In [14]:
arr3 = np.array([1,3.4,6,8,'a'])

In [15]:
arr3

array(['1', '3.4', '6', '8', 'a'], dtype='<U32')

In [16]:
#Arrays are homogeneous

In [17]:
arr4 = np.array([[1,2,3],[4,6,7],[2,8,9]])

In [18]:
arr4

array([[1, 2, 3],
       [4, 6, 7],
       [2, 8, 9]])

In [19]:
arr4.size

9

In [20]:
arr4.ndim

2

In [21]:
arr4.shape

(3, 3)

In [22]:
print(list(range(5,10)))

[5, 6, 7, 8, 9]

In [23]:
np.arange(10, 20)

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [24]:
arr5 = np.arange(10,100,10)

In [25]:
arr5

array([10, 20, 30, 40, 50, 60, 70, 80, 90])

In [26]:
arr5.size

9

In [27]:
arr6 = np.arange(3,21)

In [28]:
arr6

array([ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       20])

In [29]:
arr6.reshape(6,3)

array([[ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14],
       [15, 16, 17],
       [18, 19, 20]])

In [30]:
arr6.reshape(6,3)

array([[ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14],
       [15, 16, 17],
       [18, 19, 20]])

In [31]:
arr6.reshape(9,2)

array([[ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12],
       [13, 14],
       [15, 16],
       [17, 18],
       [19, 20]])

In [32]:
# arr6.reshape(3,3)

In [33]:
arr6 = arr6.reshape(6,3)

In [34]:
arr6

array([[ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14],
       [15, 16, 17],
       [18, 19, 20]])

In [35]:
arr5=np.arange(3,21)
arr5

array([ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       20])

In [36]:
arr5 = arr5.reshape(6,3)

In [37]:
arr5

array([[ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14],
       [15, 16, 17],
       [18, 19, 20]])

In [38]:
import numpy as np

In [39]:
L = range(1000)
%timeit nums = [i**2 for i in L]

284 µs ± 86.2 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [40]:
nums = np.arange(1000)
%timeit nums**2

1.83 µs ± 214 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [41]:
np.ones((3, 3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [42]:
print(np.sum(nums))
np.mean(nums)
np.std(nums)
np.var(nums)

499500

83333.25

In [43]:
x = np.array(range(1,100))
my_std = np.sqrt(np.sum((x-np.mean(x))**2)/x.size)
print(my_std)
print(np.std(x))

28.577380332470412
28.577380332470412

In [44]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [45]:
np.diag([1,2,3,4])

array([[1, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 3, 0],
       [0, 0, 0, 4]])

In [46]:
z = np.diag([1,2,3,4])

In [47]:
np.diag(z)

array([1, 2, 3, 4])

In [48]:
d = np.random.random(3)
print(d)

[0.52233881 0.17138165 0.31018879]

In [49]:
np.random.randn(4)

array([-0.1502189 ,  1.80556845,  0.8882636 , -0.72091024])

In [50]:
np.random.randint(0, 5, 8)

array([2, 0, 0, 1, 1, 3, 2, 0])

In [51]:
a = np.arange(10)

In [52]:
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [53]:
a.dtype

dtype('int64')

In [54]:
a = np.arange(10, dtype=np.float64)

In [55]:
a

array([0., 1., 2., 3., 4., 5., 6., 7., 8., 9.])

In [56]:
np.array([1+3j]).dtype

dtype('complex128')

In [57]:
np.array([True, False, True]).dtype

dtype('bool')

In [58]:
np.array(["Ram", "Hello"])

array(['Ram', 'Hello'], dtype='<U5')

In [59]:
a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [60]:
a[3]=10

In [61]:
a

array([ 0,  1,  2, 10,  4,  5,  6,  7,  8,  9])

In [62]:
import numpy as np
a = np.arange(10)
a
# 9,7,5,3,1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [63]:
a[1::2][::-1][::-1]

array([1, 3, 5, 7, 9])

In [64]:
b = a[::2]
b

array([0, 2, 4, 6, 8])

In [65]:
np.shares_memory(a, b)

True

In [66]:
c = a[::2].copy()

In [67]:
np.shares_memory(a, c)

False

In [68]:
a = np.zeros((4, 4))
b = np.ones((4, 4))
print(a)
print(b)

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]
[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

In [69]:
c = np.vstack((a, b))
c

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [70]:
d = np.hstack((a, b))
d.shape
d

array([[0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.]])

In [71]:
np.concatenate([a,b], axis=1)

array([[0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.],
       [0., 0., 0., 0., 1., 1., 1., 1.]])

In [72]:
array1 = np.array([1,2,3])

In [73]:
array1.shape

(3,)

In [74]:
array1.T.shape

(3,)

In [75]:
a = np.arange(4)
b = a.T
np.dot(a, b)

14

In [76]:
import pandas as pd

In [77]:
weather_data = [("1/1/2024", 32, 6, "Rain"),
                ("2/11/2024", 35, 7, "Sunny")]

In [78]:
df = pd.DataFrame(weather_data,\
                  columns=["date", "temperature", "wind" ,"climate"])

In [79]:
df

        date  temperature  wind climate
0   1/1/2024           32     6    Rain
1  2/11/2024           35     7   Sunny

In [81]:
import pandas as pd
df = pd.read_csv("auto-mpg.csv")

In [82]:
df.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320

In [84]:
df.columns.tolist()

['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model year',
 'origin',
 'car name']

In [85]:
df.shape

(398, 9)

In [86]:
df[["mpg", "weight"]]

      mpg  weight
0    18.0    3504
1    15.0    3693
2    18.0    3436
3    16.0    3433
4    17.0    3449
..    ...     ...
393  27.0    2790
394  44.0    2130
395  32.0    2295
396  28.0    2625
397  31.0    2720

[398 rows x 2 columns]

In [90]:
df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [92]:
df.shape

(398, 9)

In [93]:
df.head(2)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320

In [94]:

df.columns.tolist()

['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model year',
 'origin',
 'car name']

In [95]:
df[["mpg", "car name"]]

      mpg                   car name
0    18.0  chevrolet chevelle malibu
1    15.0          buick skylark 320
2    18.0         plymouth satellite
3    16.0              amc rebel sst
4    17.0                ford torino
..    ...                        ...
393  27.0            ford mustang gl
394  44.0                  vw pickup
395  32.0              dodge rampage
396  28.0                ford ranger
397  31.0                 chevy s-10

[398 rows x 2 columns]

In [96]:
print(df["mpg"].min())
print(df["mpg"].max())
print(df["mpg"].mean())
print(df["mpg"].std())
print(df["mpg"].var())

9.0
46.6
23.514572864321607
7.815984312565782
61.089610774274405

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [98]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [110]:
df[df["mpg"]==df["mpg"].min()]["car name"]

28    hi 1200d
Name: car name, dtype: object

In [111]:
df[df["mpg"]>40]["car name"]

244    volkswagen rabbit custom diesel
309                          vw rabbit
322                          mazda glc
324                         datsun 210
325               vw rabbit c (diesel)
326                 vw dasher (diesel)
329                honda civic 1500 gl
330               renault lecar deluxe
394                          vw pickup
Name: car name, dtype: object

In [113]:
df[df.mpg == df["mpg"].min()]["car name"]

28    hi 1200d
Name: car name, dtype: object

In [114]:
new_df = df[["car name", "weight"]]
new_df.to_csv("new_df.csv")

In [115]:
new_df = df[["car name", "weight"]]
new_df_2 = df[["weight", "car name"]]

In [116]:
new_df.head(1)

                    car name  weight
0  chevrolet chevelle malibu    3504

In [117]:
new_df_2.head(1)

   weight                   car name
0    3504  chevrolet chevelle malibu

In [118]:
new_df.to_excel("output.xlsx", sheet_name="sheet1")

In [119]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [121]:
g = df.groupby("model year")

In [122]:
df.shape

(398, 9)

In [123]:
# df_sample = df.sample(frac=0.2)

In [124]:
# df_sample.shape

(80, 9)

In [125]:
g = df.groupby("model year")

In [126]:
print(g)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7974a16cfed0>

In [127]:
g.max()

,mpg,cylinders,displacement,horsepower,weight,acceleration,origin,car name
model year,,,,,,,,
70,27.0,8,455.0,97,4732,20.5,3,volkswagen 1131 deluxe sedan
71,35.0,8,400.0,?,5140,20.5,3,volkswagen model 111
72,28.0,8,429.0,97,4633,23.5,3,volvo 145e (sw)
73,29.0,8,455.0,95,4997,21.0,3,volvo 144ea
74,32.0,8,350.0,?,4699,21.0,3,volkswagen dasher
75,33.0,8,400.0,98,4668,21.0,3,volvo 244dl
76,33.0,8,351.0,95,4380,22.2,3,vw rabbit
77,36.0,8,400.0,98,4335,19.0,3,volkswagen rabbit custom
78,43.1,8,318.0,97,4080,21.5,3,volvo 264gl
79,37.3,8,360.0,90,4360,24.8,3,vw rabbit custom
80,46.6,6,225.0,?,3381,23.7,3,vw rabbit c (diesel)
81,39.1,8,350.0,?,3725,20.7,3,volvo diesel
82,44.0,6,262.0,?,3035,24.6,3,vw pickup

In [ ]:
for x, model_df in g:
  print(x)
  print(model_df)

In [ ]:
df.describe()

In [ ]:
us_weather = pd.DataFrame({
    "city": ["newyork", "chicago", "seatle"],
    "temperature": [21, 14, 35],
    "humidity": [68, 65, 75],
})

In [ ]:
us_weather

In [ ]:
india_weather = pd.DataFrame({
    "city": ["mumbai", "delhi", "banglore"],
    "temperature": [32, 21, 35],
    "humidity": [60, 75, 78],
})

In [ ]:
india_weather

In [ ]:
weather_us_india = pd.concat([india_weather, us_weather],\
                             ignore_index=True)

In [ ]:
weather_us_india

In [ ]:
weather_us_india["temperature"]<30

In [ ]:
weather_us_india[weather_us_india["temperature"]<30]

In [ ]:
pd.concat([us_weather, india_weather], axis=1)

In [ ]:
pd.merge(india_weather, us_weather, on="temperature")

In [ ]:
df = pd.DataFrame([1, 2, 3, 4], index = [49, 48, 12, 3])

In [ ]:
df

In [ ]:
df.loc[49]

In [ ]:
df.iloc[2]

In [ ]:
city1 = pd.Series([12, -6, 8, -3], index = ["day1", "day2", "day3", "day4"])

In [ ]:
city1

In [ ]:
city1[city1>2]

In [ ]:
# city1.isna()
city1[~city1.isna()]

In [ ]:
city1*3

In [128]:
df = pd.read_csv("auto-mpg.csv")

In [129]:
df["cylinders"].unique()

array([8, 4, 6, 3, 5])

In [130]:
df["cylinders"].value_counts()

cylinders
4    204
8    103
6     84
3      4
5      3
Name: count, dtype: int64

In [ ]:
df.values

In [ ]:
car_new = df.drop(["origin", "car name"], axis= 1)

In [ ]:
car_new.describe()