# Variables and Data Types In Python

Data is raw facts and figures. Data types is the way in which we represent information in computer programming language. Depending upon the nature of information we want to represent, we have different data types in Python. A variable is an entity that represents the information from Random Access Memory (RAM).




<img src="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/First_steps/Variables/boxes.png" alt="drawing" width="400"/>

In [4]:
year = 2025
year = year+3

In [5]:
print(year)

2028

In [8]:
bank_interest = 7.5
print(bank_interest)

7.5

In [9]:
loan_interest = 9.
print(loan_interest)

9.0

In [11]:
type(year)

int

In [15]:
c = 3+8j
print(c)
print(type(c))

(3+8j)
<class 'complex'>

You can print value inside a variable using print command

In [6]:
# This prints current year
print(year)

2028

In [16]:
institute = 'ICT'

In [21]:
print(institute)
print(type(institute))
print(type("ICT"))
print(len(institute))

ICT
<class 'str'>
<class 'str'>
3

## Numeric Types

### 1. Integer

In [22]:
10

10

In [23]:
a = 10

In [24]:
# Comments

In [25]:
-3 # Integers can be negative numbers also

-3

In [26]:
# We can check data type using a builtin function
type(5)

int

In [27]:
b = -2

In [28]:
type(b)

int

#### Activity Question 1: What do you think the output of type(0)?


### 2. Floating point

In [29]:
pi = 3.14

In [30]:
type(pi)

float

In [31]:
c = 3.0
c

3.0

In [32]:
d = 3. # Also equivalent to 3.0
print(d)

3.0

### 3. Complex

In [33]:
d = 3+4j
d

(3+4j)

In [34]:
type(d)

complex

## Text Type

1. String

String is one or more characters/text

In [35]:
month = "Nove mber"

In [36]:
len(month)

9

In [37]:
type(month)

str

In [38]:
type("C")

str

#### Activity Question 2: What do you think the data type of the following variable ?

In [39]:
year = "2024"

In [40]:
type(year)

str

In [112]:
language = "Malayalam"
print(language[::-1])

malayalaM

## Sequence Types

1. List

List is a collection of elements grouped together

In [41]:
digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
vowels = ['a', 'e', 'i', 'o', 'u']

In [42]:
# Python lists can have individual elements of various data types
grocery = ["Apple", 5, "Orange", 10]

In [43]:
len(digits)

10

In [50]:
print(institute)
print(institute[-1])
print(vowels[-1])

ICT
T
u

#### Activity Question 3: Do do you think lists can have another list as one of its element?

Lists are mutable which means we can change the elements after creating a list

In [51]:
grocery[0] = "Grape"

In [53]:
print(grocery)

['Grape', 5, 'Orange', 10]

2. Tuple

Tuples are similar to list but are immutable, meaning once you create a tuple, you cannot change, add, or remove items.

This immutability can help protect data from accidental modification and also makes tuples more memory-efficient.

In [54]:
my_tuple = (1, 2, 3)
my_tuple

(1, 2, 3)

In [56]:
# my_tuple[0] = 4

3. Range

The range data type in Python represents an immutable sequence of numbers

In [62]:
start = 0
stop = 5
step = 1

In [63]:
list(range(3, 10, 2))

[3, 5, 7, 9]

In [64]:
# Creates a sequence from 0 to stop - 1
range(stop)

range(0, 5)

In [65]:
type(range(stop))

range

In [66]:
list(range(stop))

[0, 1, 2, 3, 4]

In [67]:
# Creates a sequence from start to stop - 1
range(start, stop)

range(0, 5)

In [68]:
list(range(start, stop))

[0, 1, 2, 3, 4]

In [69]:
# Creates a sequence from start to stop - 1, incrementing by step each time
range(start, stop, step)

range(0, 5)

In [70]:
list(range(start, stop, step))

[0, 1, 2, 3, 4]

#### Activity Question 4: How can we create odd numbers from 1 to 10 using range()?

#### Activity Question 5: How can we create odd numbers from 0 to 11 using range()?

#### Activity Question 6: Can we create list of numbers from 10 to 1 in reverse order using range()?

#### Activity Question 7: What do you think the output of the following command list(range(10, 1, -2))?

## Mapping Type
1. Dictionary

In Python, a dictionary is an unordered, mutable collection that stores data in key-value pairs.

Each key in a dictionary must be unique, while values can be duplicated

In [81]:
data = {
    "Institute": "ICT",
    "City": "Thiruvananthapuram"
}

In [82]:
print(type(data))

<class 'dict'>

In [83]:
data["Institute"]

'ICT'

In [84]:
data["City"]

'Thiruvananthapuram'

In [85]:
data["State"] = "Kerala"

In [86]:
print(data)

{'Institute': 'ICT', 'City': 'Thiruvananthapuram', 'State': 'Kerala'}

In [90]:
# Accessing the keys only from a dictionary
data.keys()

dict_keys(['Institute', 'City', 'State'])

In [88]:
# Accessing the values only from a dictionary
data.values()

dict_values(['ICT', 'Thiruvananthapuram', 'Kerala'])

## Set Type
1. Sets

In Python, a set is an unordered collection of unique items

In [93]:
# Creating a set using {}
my_set = {1, 2, 3, 4}
print(my_set)

{1, 2, 3, 4}

In [94]:
# Creating a set with duplicate values
my_set_2 = {1, 2, 2, 3}
print(my_set_2)

{1, 2, 3}

In [ ]:
# Using the set() function
empty_set = set()
print(empty_set)

set()

#### Activity Question 8: Create a set with the elements 10, 20, 30, and 40. What will be the output if you add 30 again to this set? Why?

## Boolean Type
1. Boolean

In Python, the Boolean data type represents truth values, which can be either True or False. Booleans are often used in conditional statements and expressions to make decisions in code

In [97]:
is_sunny = True
is_raining = False

print(is_sunny)
print(is_raining)
print(type(is_raining))

True
False
<class 'bool'>

In [100]:
print(10>20)

False

#### Activity Question 9: What do you think the output of the following ?

3. == 3.0

10.001 == 10.002

Activity Question 10: What change in the following mathematical expression evaluates it to True from False

9/2==4.0

## None Type
1. None

In Python, the None data type represents the absence of a value or a null value

In [101]:
status = None
print(status)

None

# Operators In Python

## Arithmetic Operators

### Addition

In [113]:
3+4

7

In [114]:
a = 10
b = 12
c = a+b
print(c)

22

### Subtraction

In [115]:
10-8

2

In [116]:
8-12

-4

Activity Question 11: What value of c will make the following expression evaluates to True

In [119]:
a = 8
b = 10
c = 2
a-b+c ==0

True

### Multiplication

In [ ]:
a = 12
b = 10
c = a*b
print(c)

120

### Division

In [ ]:
a = 13
b = 2
c = a//b
print(c)

6

Activity Question 12: Do dividing two integers result in floating point answer?

Activity Question 13: What value in x will result in 0.0 as output ?

In [122]:
x = 0# fill value here
y = 3.0
print(x/3)

0.0

### Modulus

In [ ]:
a = 9
b = 2
c = a%2
print(c)

### Exponentiation

In [123]:
a = 10
b = 3
c = a**b
print(c)

1000

### Floor Division

In [ ]:
num = 9
den = 2
result = num//den
print(result)

## Assignment Operator

In [ ]:
# Equals
x = 20
print(x)

20

## Comparison Operators

Compare two values and return True or False

In [ ]:
# Equal to
a = 10
b = 10
a==b

True

In [ ]:
# Not equalt to
x = 10
y = 20
print(x!=20)

True

In [ ]:
# Greater than
print(x>y)

False

In [ ]:
# Less than
print(x<y)

True

In [ ]:
# Greater than or equal to
print(x>=y)

False

In [ ]:
# Less than or equal to
print(x<=y)

True

## Logical Operators

In [124]:
# AND
print(True and True)

True

In [125]:
# OR
print(True or False)

True

In [126]:
# NOT
print(not True)

False

## Membership Operators

Test for membership in sequences like lists, strings, etc.

In [ ]:
# IN
print(1 in [1, 2, 3])

True

In [ ]:
# NOT IN
print(1 not in [1,2,3])

False

In [129]:
"x" in "Malayalam"

False

## Identity Operators

Check if two variables refer to the same object in memory

In [130]:
a = 10
b = 10
print(a)
print(b)
a = 20
print(a)
print(b)

10
10
20
10

In [131]:
# IS
a = 10
b = 10
print(a is b)

a = 10
b = 12
print(a is b)

True
False

In [ ]:
# IS NOT
a = 10
b = 10
print(a is not b)

a = 10
b = 12
print(a is not b)

False
True

## Ternary or Conditional Operator

Used for conditional expressions

In [ ]:
x = 100
y = 200
max_val = x if x > y else y
print(max_val)

200

Activity Question 14: Write code to check whether a number in given variable x is odd ?

In [ ]:
x = 6
print(x%2!=0)

False

Activity Question 15: Write code to check whether a number in given variable x is odd and divisible by 9?

In [ ]:
and

Activity Question 16: Write code to check if a given string has more than 10 characters

Activity Question 17: Write code print whether the value in a given variable x is even or odd

Activity Question 18: Write code to check a given string is palindrome or not